@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#grid_wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "sec sec sec sec"
    "se1 se1 se1 se1"
    "se2 se2 se2 se2"
    "foo foo foo foo";
}

h1{
font-family: 'playfair display';
}

h2{
font-family: 'playfair display';
}

body {
height: 100vh;
width: 100vw;
font-family: 'Playfair Display',serif;
}

.logo{
font-weight: bold;
font-size: 1.5rem;
margin: 20px;
color: black;
}

header{
grid-area: hea;
background-color: #BBD0FF;
align-items: center; 
display: flex;
}

#link_list {
display: flex;
flex-direction: row;
width: 75%;
justify-content: space-around;
}

header a:hover{
    background-color: #fff;
    transition: .5s all ease;
    border-radius: 30px;
    padding: 10px;
}


#plane_picture{
grid-area: sec;
display: flex;
flex-direction: column;
background-image: url("..//img/planefr.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}

#plane_picture .intro-text{
padding-top: 100px;
padding-bottom: 50px;
}

#plane_picture .intro-text .intro-lead-in{
margin-bottom: 25px;
font-size: 22px;
font-style: italic;
font-family: 'Playfair Display', serif;
line-height: 22px;
}

#plane_picture .intro-text .intro-heading{
margin-bottom: 25px;
text-transform: uppercase;
font-family: 'Playfair Display', serif;
font-size: 50px;
font-weight: 700;
line-height: 50px;
}

.pulse{
position: relative;
top: 50%;
left: 50%;
margin: 0.5em;
margin-left: -50px;
display: block;
width: 100px;
height: 100px;
font-size: 1em;
text-transform: uppercase;
text-align: center;
line-height: 100px;
letter-spacing: -1px;
border: 2px solid;
background: #bbd0ff;
cursor: pointer;
}

.pulse:hover {
animation: pulse 1.5s;
}

@keyframes pulse {
0% {
    transform: scale(.85);
}
70% {
    transform: scale(1);
}
    100% {
    transform: scale(1);
}
}

footer{
grid-area: foo;
}

#info_bars{
display: flex;
flex-direction: column;
margin: 0;
width: 300px;
flex-wrap: wrap;
}

.p_info{
font-size: .8rem;
}

.h2_info{
font-size: 1em;
}

#section_how{
grid-area: se1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #BBD0FF;
text-align: center;
}

#h2_section_how{
margin-bottom: 80px;
}

#section_tours{
grid-area: se2;
flex-direction: column;
display: flex;
background-color: #BBD0FF;
height: 600px;
}

.mySlides {
width: 800px;
}

.w3-left, .w3-right, .w3-badge {
cursor:pointer;
}

.w3-badge {
height:13px;width:13px;padding:0;
}

.tours{
margin: 20px;
text-align: center;
background-color: whitesmoke;
height: 100px;
border-radius: 40px;
}

footer{
grid-area: foo;
display: flex;
position: relative;
padding: 20px 50px;
width: 100%;
background-color: #3586ff; 
justify-content: center;
align-items: center;
flex-direction: column;
}

ul,
footer .menu{
list-style: none;
}


#grid_tours{
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 400px auto auto auto auto;
grid-template-areas: 
"sec sec sec sec"
"se1 se1 se1 se1"
"se2 se2 se2 se2"
"se3 se3 se3 se3"
"foo foo foo foo";
}

#section_attractions{
grid-area: sec;
background-image: url("../img/nature/sea.jpg");
background-position: center;
background-size: cover;
filter: blur(5px);
-webkit-filter: blur(5px);
flex-wrap: wrap;
}

.bg-text {
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0, 0.4);
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 44%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 60%;
padding: 20px;
text-align: center;
}

.destination_btn2 {
display: inline-flex;
align-items: center;
justify-content: center;
padding: 10px 30px;
font-size: 16px;
font-weight: bold;
background-color: #caf0f8;
border: none;
border-radius: 5px;
cursor: pointer;
}

.destination_btn1{
margin: 10px 0 10px 0;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
background-color: #e9eba3;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 2rem;
display: flex;
flex-direction: row;
}

.destination_btn1:hover, .destination_btn2:hover{
box-shadow: inset 0 0 5px rgba(0, 0, 0.5, 0.5);
}

.arrow {
margin-left: 5px;
}

#attraction_pic{
width: 600px;
height: 350px;
border-radius: 20px;
border: 3px outset purple;
}

#travel-tips {
padding: 20px;
grid-area: se3;
background-color: #caf0f8;
}

#travel-tips h2 {
text-align: center;
margin-bottom: 20px;
}

.tip {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-bottom: 40px;
}

.tip-content {
flex-basis: 50%;
order: 1;
}

.tip-image {
flex-basis: 40%;
order: 2;
}

.tip:nth-child(even) .tip-content {
order: 2;
}

.tip:nth-child(even) .tip-image {
order: 1;
}

.tip-content h3 {
font-size: 18px;
margin-bottom: 10px;
}

.tip-content p {
font-size: 16px;
line-height: 1.5;
}

.tip-image img {
width: 100%;
height: auto;
border-radius: 5px;
}

h3{
font-size: 40px;
}

#section_categories {
grid-area: se1;
background-color: #caf0f8;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.categories {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
height: 100%;
}

#section-categories2{
grid-area: se2;
background-color: #caf0f8;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

#categories::-webkit-scrollbar{
display: none;
} 

.card {
box-shadow: 0 4px 8px 0 #00000033;
transition: 0.3s;
width: 200px;
height: 400px;
}

.button_section{
display: flex;
flex-direction: row;
margin-top: 1rem;
}

#button_section1{
margin-top: 1rem;
display: flex;
flex-direction: row;
}

#button_section2{
margin-top: 1rem;
display: flex;
flex-direction: row;
}

#button_section3{
margin-top: 1rem;
display: flex;
flex-direction: row;
}

#button_section4{
margin-top: 1rem;
display: flex;
flex-direction: row;
}

#button_section5{
margin-top: 1rem;
display: flex;
flex-direction: row;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
height: 50%;
display: flex;
flex-direction: column;
padding: 10px;
position: relative;
}

.read_more_btn,
.book_flight_btn {
display: inline-block; 
margin-right: 10px;
background-color: white;
border: 2px solid purple;
padding: 5px 10px;
color: black;
cursor: pointer;
font-size: 15px;
position: relative; 
z-index: 1; 
}

.img_tours {
border-radius: 5px 5px 0 0;
width: 100%;
height: 60%;
}

.h4_countries {
margin-top: 0;
}